[submodule ".icons/gitlab-svgs"]
	path = .icons/gitlab-svgs
	url = https://gitlab.com/gitlab-org/gitlab-svgs.git
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/SebastianErfort/kickstart.nvim.git
	branch = personal
[submodule "rsrc"]
	path = rsrc
	url = git@github.com:SebastianErfort/rsrc.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:SebastianErfort/tmux.git
