$include /etc/inputrc
set completion-ignore-case On
# bracketed paste: don't executed pasted commands if they contain newlines
set enable-bracketed-paste On
# try to fix home, end, etc. keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line
# page up/down to search history
"\e[5~": history-search-backward
"\e[6~": history-search-forward
